* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

body {
    min-width: 80%;
    min-height: 100vh;
    padding: 0 17%;
    margin-top: 35px;
}

.header {
    display: flex;
    justify-content: space-between;
}